<!DOCTYPE html>
<html lang="id">
<head>
  <%- include("../../setups/head") %>

  <style>
    #blog, #other-blogs {
      width: 100%;
    }

    @media only screen and (min-width: 992px) {
      #blog {
        width: 75%;
      }
      #other-blogs {
        width: 25%;
      }
    }
  </style>
</head>
<body>
  <%- include("../../components/navbar", { user }) %>

  <div class="container-fluid p-5 d-flex gap-4 flex-column flex-lg-row">
    <div id="blog" class="border-primary">
      <span style="color: <%= blog.category.labelColor %>">
        <p class="m-0 fw-semibold d-inline">
          <%= blog.category.name.toUpperCase() %>
        </p>
        <i class="<%= blog.category.icon %>"></i>
      </span>
      <h1>
        <%= blog.title %>
        <% if(isAuthorized) { %>
          <a href="/blog/<%= blog.id %>/edit" class="btn btn-outline-warning btn-sm ms-2">
            <i class="bi bi-pencil-square"></i>
            Edit
          </a>
        <% } %>
      </h1>
      <p class="text-body-tertiary">
        Ditulis oleh
        <span class="fw-semibold"><%= blog.author.name %></span>
        •
        <span><%= blog.createdAt.toLocaleDateString() %></span>
      </p>
      <img src="/uploads/<%= blog.image %>" alt="<%= blog.title %>" class="w-100 object-fit-cover rounded" height="400">
      <p class="mt-4">
        <%- blog.body.replace(/\n\n/g, "</p><p>") %>
      </p>
      <span id="last-updated" class="text-body-tertiary d-none">
        <%= blog.updatedAt %>
      </span>
    </div>
    <div id="other-blogs" class="p-3 card">
      <h2>Baca Juga</h2>
      <ul>
        <% otherBlogs.forEach(blog => { %>
          <li>
            <a href="/blog/<%= blog.id %>/read"><%= blog.title %></a>
          </li>
        <% }) %>
      </ul>
    </div>
  </div>

  <script>
    const DAYS_IN_MILISECONDS = 86400000
    const lastUpdatedElement = document.querySelector('#last-updated')
    const lastUpdated = new Date(lastUpdatedElement.innerHTML)
    const now = new Date()
    const daysDifference = Math.abs((now - lastUpdated) / DAYS_IN_MILISECONDS)

    lastUpdatedElement.innerHTML =
      '(Terakhir diperbarui '.concat(
        now.toDateString() === lastUpdated.toDateString() ?
          lastUpdated.toTimeString().slice(0, 5)
        : daysDifference < 2 ?
          'kemarin'
        : daysDifference < 7 ?
          `${Math.floor(daysDifference)} hari lalu`
        : daysDifference < 30 ?
          `${Math.floor(daysDifference / 7)} minggu lalu`
        : daysDifference < 365 ?
          `${Math.floor(daysDifference / 30)} bulan lalu`
        :
          `${Math.floor(daysDifference / 365)} tahun lalu`,
        ')'
      )

    lastUpdatedElement.classList.remove('d-none')
  </script>

  <%- include("../../setups/script") %>
</body>
</html>