<!DOCTYPE html>
<html lang="id">
<head>
  <%- include("../../setups/head") %>

  <style>
    #blog, #other-blogs {
      width: 100%;
    }

    @media only screen and (min-width: 992px) {
      #blog {
        width: 75%;
      }
      #other-blogs {
        width: 25%;
      }
    }
  </style>
</head>
<body>
  <%- include("../../components/navbar") %>

  <div class="container-fluid p-5 d-flex gap-4 flex-column flex-lg-row">
    <div id="blog" class="border-primary">
      <span style="color: <%= blog.category.labelColor %>">
        <p class="m-0 fw-semibold d-inline">
          <%= blog.category.name.toUpperCase() %>
        </p>
        <i class="<%= blog.category.icon %>"></i>
      </span>
      <h1>
        <%= blog.title %>
        <a href="/blog/<%= blog.id %>/edit" class="btn btn-outline-warning btn-sm ms-2">
          <i class="bi bi-pencil-square"></i>
          Edit
        </a>
      </h1>
      <p class="text-body-tertiary">
        Ditulis oleh
        <span class="fw-semibold"><%= blog.author.name %></span>
        •
        <span><%= blog.createdAt.toLocaleDateString() %></span>
      </p>
      <img src="/uploads/<%= blog.image %>" alt="<%= blog.title %>" class="w-100 object-fit-cover rounded" height="400">
      <p class="mt-4">
        <%- blog.body.replace(/\n\n/g, "</p><p>") %>
      </p>
      <span id="last-updated" class="text-body-tertiary">
        <%= new Date().getDay() - blog.updatedAt.getDay() %>
      </span>
    </div>
    <div id="other-blogs" class="p-3 card">
      <h2>Baca Juga</h2>
      <ul>
        <% otherBlogs.forEach(blog => { %>
          <li>
            <a href="/blog/<%= blog.id %>/read"><%= blog.title %></a>
          </li>
        <% }) %>
      </ul>
    </div>
  </div>

  <script>
    const lastUpdatedElement = document.querySelector('#last-updated')
    const lastUpdatedDifference = lastUpdatedElement.innerHTML
    lastUpdatedElement.innerHTML =
      '(Terakhir diperbarui '.concat(
        lastUpdatedDifference == 0 ?
          'hari ini'
        : lastUpdatedDifference == 1 ?
          'kemarin'
        : lastUpdatedDifference < 7 ?
          `${lastUpdatedDifference} hari lalu`
        : lastUpdatedDifference < 30 ?
          `${Math.floor(lastUpdatedDifference / 7)} minggu lalu`
        : lastUpdatedDifference < 365 ?
          `${Math.floor(lastUpdatedDifference / 30)} bulan lalu`
        : `${Math.floor(lastUpdatedDifference / 365)} tahun lalu`,
        ')'
      )
  </script>

  <%- include("../../setups/script") %>
</body>
</html>